.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    height: 600px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    width: 80%; 
    height: 80%; 
  }
  .grid-container a{
    text-decoration: none;
  }
  @media only screen and (max-width: 600px) {
    .fonttext {
        font-size: 14px; /* Điều chỉnh kích thước chữ cho màn hình có độ rộng tối đa là 600px */
    }
}
